body, div, dl, dt, dd, input, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
th { text-align: left }

html, body { color: #111; font: 100%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; margin: 0; padding: 0; }

a { text-decoration: none; color: #4e6ca3; }
a:hover { text-decoration: underline; }

dl { font-size: 80%; list-style: none; margin: 0; padding: 0.5em; }
dl dt, dl dd { float: left; margin-right: 1.75em; }

/* Styles for the non-scrolling table header. */
table.fixed {
  position: fixed;
  top: 0;
  left: 0;
  
}
table {
  font-size: 0.8em;
  position: relative;
  clear: both;
}
table thead { visibility: hidden; }
table thead.floating {
  visibility: visible;
  position: absolute;
  top: 0; left: 0;
  background-color: rgba(255, 255, 255, 1.0);
  border-bottom: 1px solid gray;
  text-indent: 3px;
}
table thead.fixed {
  position: fixed;
}

tbody tr td:nth-child(n+6) a {
  border: 1px solid gray;
  display: inline-block; 
  height: 15px; width: 15px;
  margin-right: 4px;
  margin-top: 6px;
  text-indent: -2000em;
}
tbody tr td:nth-child(n+6) a { background: #a2d39c; }
tbody tr td:nth-child(n+6) a.m { background: #f07878; }
tbody tr td:nth-child(n+6) a.o { background: #7ea7d8; }
tbody tr td:nth-child(n+6) a.i { background: #c8c8c8; }
tbody tr td:nth-child(n+6) a.obs { background: #f0f078; }

.ht { display: none; }

table {
}
tbody {
}
tbody tr { background-color: #fff; }
tbody tr:nth-child(odd) { background-color: #E2E4FF; }
tbody tr td:nth-child(n+6) {
    white-space: nowrap;
    padding: 0 2px;
    width: 100px;
}
tbody tr td:nth-child(-n+5) {
    padding: 3px 4px;
}
tbody tr td:nth-child(1) div { width: 230px; overflow-x: hidden; text-overflow: ellipsis; }
tbody tr td:nth-child(2) div { width: 80px; overflow-x: hidden; }
tbody tr td:nth-child(4) a { display: block; width: 75px; }
tbody tr td:nth-child(5) a {
    display: block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 1380px) {
  tbody tr td:nth-child(1) div { width: 300px; }
  tbody tr td:nth-child(4) { padding-right: 20px; }
  tbody tr td:nth-child(5) a { width: 240px; }
}

tfoot { font-size: 50%; display: none; }

tbody tr td:nth-child(4) a { text-decoration: none; }
a.developed:before { content: "developed"; color: #a2d39c; }
a.maintained:before { content: "maintained"; color: #a2d39c; }
a.unmaintained:before { content: "unmaintained"; color: #f0f078; }
a.end-of-life:before { content: "end-of-life"; color: #f07878; }
a.unknown:before { content:"unknown"; color: #c8c8c8; }

.sum {
  display: inline-block;
  font-size: 0.8em;
  width: 15px;
  margin-right: 4px;
  -moz-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.filter_column input { width: 55px; }
th:first-child .filter_column input { width: 150px; }
.search_init { color: gray; }
